src/main/mule/credit-card-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:http="http://www.mulesoft.org/schema/mule/http" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

  <!-- GET /cards - Business Logic Flow -->
  <flow name="get-cards-business-logic" doc:name="get-cards-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Select Cards">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var params = payload default {}
---
// Mock data - simulating database query results
[
  {
    id: "card-001",
    card_number: params.cardNumber default "1234567890123456",
    card_type: "Credit",
    card_network: "Visa",
    customer_id: params.customerId default "cust-001",
    account_id: "acc-001",
    cardholder_name: "John Doe",
    expiration_date: "2025-12-31" as Date,
    status: params.status default "Active",
    credit_limit: 5000.00,
    available_credit: 4500.00,
    daily_purchase_limit: 1000.00,
    daily_atm_withdrawal_limit: 500.00,
    international_transactions_enabled: true,
    online_transactions_enabled: true,
    issued_date: "2024-01-15" as Date,
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: "2024-01-20T00:00:00Z" as DateTime
  }
] default []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform to Card Response">
        <ee:message>
          <ee:set-payload>
            <![CDATA[%dw 2.0
output application/json
---
payload map ((card) -> {
  id: card.id,
  cardNumber: card.card_number,
  cardType: card.card_type,
  cardNetwork: card.card_network,
  customerId: card.customer_id,
  accountId: card.account_id,
  cardholderName: card.cardholder_name,
  expirationDate: card.expiration_date,
  status: card.status,
  creditLimit: card.credit_limit,
  availableCredit: card.available_credit,
  controls: {
    dailyPurchaseLimit: card.daily_purchase_limit,
    dailyATMWithdrawalLimit: card.daily_atm_withdrawal_limit,
    internationalTransactionsEnabled: card.international_transactions_enabled,
    onlineTransactionsEnabled: card.online_transactions_enabled
  },
  issuedDate: card.issued_date,
  createdAt: card.created_at,
  updatedAt: card.updated_at
})]]>
          </ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable variableName="httpStatus" value="200" doc:name="Set Status 200" />

      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable variableName="httpStatus" value="500" doc:name="Set Status 500" />
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /cards - Business Logic Flow -->
  <flow name="create-card-business-logic" doc:name="create-card-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
output application/java
var controls = payload.controls default {}
---
{
  card_number: payload.cardNumber,
  card_type: payload.cardType,
  card_network: payload.cardNetwork default null,
  customer_id: payload.customerId,
  account_id: payload.accountId default null,
  cardholder_name: payload.cardholderName default null,
  expiration_date: payload.expirationDate default null,
  status: payload.status default 'Active',
  credit_limit: payload.creditLimit default null,
  available_credit: payload.availableCredit default payload.creditLimit default null,
  daily_purchase_limit: controls.dailyPurchaseLimit default null,
  daily_atm_withdrawal_limit: controls.dailyATMWithdrawalLimit default null,
  international_transactions_enabled: controls.internationalTransactionsEnabled default true,
  online_transactions_enabled: controls.onlineTransactionsEnabled default true,
  issued_date: payload.issuedDate default null
}]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <ee:transform doc:name="Mock Insert Card">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var req = payload
---
// Mock insert - return created card
[{
  id: "card-" ++ (now() as String {format: "yyyyMMddHHmmssSSS"}),
  card_number: req.card_number,
  card_type: req.card_type,
  card_network: req.card_network default null,
  customer_id: req.customer_id,
  account_id: req.account_id default null,
  cardholder_name: req.cardholder_name default null,
  expiration_date: req.expiration_date default null,
  status: req.status default "Active",
  credit_limit: req.credit_limit default null,
  available_credit: req.available_credit default (req.credit_limit default null),
  daily_purchase_limit: req.daily_purchase_limit default null,
  daily_atm_withdrawal_limit: req.daily_atm_withdrawal_limit default null,
  international_transactions_enabled: req.international_transactions_enabled default true,
  online_transactions_enabled: req.online_transactions_enabled default true,
  issued_date: req.issued_date default null,
  created_at: now(),
  updated_at: now()
}]]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <ee:transform doc:name="Transform Response">
        <ee:message>
          <ee:set-payload>
            <![CDATA[%dw 2.0
output application/json
var card = payload[0]
---
{
  id: card.id,
  cardNumber: card.card_number,
  cardType: card.card_type,
  cardNetwork: card.card_network,
  customerId: card.customer_id,
  accountId: card.account_id,
  cardholderName: card.cardholder_name,
  expirationDate: card.expiration_date,
  status: card.status,
  creditLimit: card.credit_limit,
  availableCredit: card.available_credit,
  controls: {
    dailyPurchaseLimit: card.daily_purchase_limit,
    dailyATMWithdrawalLimit: card.daily_atm_withdrawal_limit,
    internationalTransactionsEnabled: card.international_transactions_enabled,
    onlineTransactionsEnabled: card.online_transactions_enabled
  },
  issuedDate: card.issued_date,
  createdAt: card.created_at,
  updatedAt: card.updated_at
}]]>
          </ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable variableName="httpStatus" value="201" doc:name="Set Status 201" />

      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while creating the card",
    timestamp: now()
  }
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable variableName="httpStatus" value="500" doc:name="Set Status 500" />
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /cards/{cardId} - Business Logic Flow -->
  <flow name="get-card-by-id-business-logic" doc:name="get-card-by-id-business-logic">
    <try doc:name="Try">
      <ee:transform doc:name="Mock Select Card by ID">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var cardId = vars.cardId
---
// Mock data - return card if cardId matches, otherwise empty array
if (cardId != null and cardId != "")
  [{
    id: cardId,
    card_number: "1234567890123456",
    card_type: "Credit",
    card_network: "Visa",
    customer_id: "cust-001",
    account_id: "acc-001",
    cardholder_name: "John Doe",
    expiration_date: "2025-12-31" as Date,
    status: "Active",
    credit_limit: 5000.00,
    available_credit: 4500.00,
    daily_purchase_limit: 1000.00,
    daily_atm_withdrawal_limit: 500.00,
    international_transactions_enabled: true,
    online_transactions_enabled: true,
    issued_date: "2024-01-15" as Date,
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: "2024-01-20T00:00:00Z" as DateTime
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Card Found?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
var card = payload[0]
---
{
  id: card.id,
  cardNumber: card.card_number,
  cardType: card.card_type,
  cardNetwork: card.card_network,
  customerId: card.customer_id,
  accountId: card.account_id,
  cardholderName: card.cardholder_name,
  expirationDate: card.expiration_date,
  status: card.status,
  creditLimit: card.credit_limit,
  availableCredit: card.available_credit,
  controls: {
    dailyPurchaseLimit: card.daily_purchase_limit,
    dailyATMWithdrawalLimit: card.daily_atm_withdrawal_limit,
    internationalTransactionsEnabled: card.international_transactions_enabled,
    onlineTransactionsEnabled: card.online_transactions_enabled
  },
  issuedDate: card.issued_date,
  createdAt: card.created_at,
  updatedAt: card.updated_at
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable variableName="httpStatus" value="200" doc:name="Set Status 200" />
        </when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Card not found",
    timestamp: now()
  }
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable variableName="httpStatus" value="404" doc:name="Set Status 404" />
        </otherwise>
      </choice>

      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while querying the database",
    timestamp: now()
  }
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable variableName="httpStatus" value="500" doc:name="Set Status 500" />
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- PUT /cards/{cardId} - Business Logic Flow -->
  <flow name="update-card-business-logic" doc:name="update-card-business-logic">
    <ee:transform doc:name="Transform Request to DB Format">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
output application/java
var controls = payload.controls default {}
---
{
  cardId: vars.cardId,
  card_number: payload.cardNumber default null,
  card_type: payload.cardType default null,
  card_network: payload.cardNetwork default null,
  customer_id: payload.customerId default null,
  account_id: payload.accountId default null,
  cardholder_name: payload.cardholderName default null,
  expiration_date: payload.expirationDate default null,
  status: payload.status default null,
  credit_limit: payload.creditLimit default null,
  available_credit: payload.availableCredit default null,
  daily_purchase_limit: controls.dailyPurchaseLimit default null,
  daily_atm_withdrawal_limit: controls.dailyATMWithdrawalLimit default null,
  international_transactions_enabled: controls.internationalTransactionsEnabled default null,
  online_transactions_enabled: controls.onlineTransactionsEnabled default null,
  issued_date: payload.issuedDate default null
}]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>

    <try doc:name="Try">
      <ee:transform doc:name="Mock Update Card">
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
output application/java
var req = payload
var cardId = req.cardId
---
// Mock update - return updated card if cardId exists
if (cardId != null and cardId != "")
  [{
    id: cardId,
    card_number: req.card_number default "1234567890123456",
    card_type: req.card_type default "Credit",
    card_network: req.card_network default "Visa",
    customer_id: req.customer_id default "cust-001",
    account_id: req.account_id default "acc-001",
    cardholder_name: req.cardholder_name default "John Doe",
    expiration_date: req.expiration_date default ("2025-12-31" as Date),
    status: req.status default "Active",
    credit_limit: req.credit_limit default 5000.00,
    available_credit: req.available_credit default 4500.00,
    daily_purchase_limit: req.daily_purchase_limit default 1000.00,
    daily_atm_withdrawal_limit: req.daily_atm_withdrawal_limit default 500.00,
    international_transactions_enabled: req.international_transactions_enabled default true,
    online_transactions_enabled: req.online_transactions_enabled default true,
    issued_date: req.issued_date default ("2024-01-15" as Date),
    created_at: "2024-01-15T00:00:00Z" as DateTime,
    updated_at: now()
  }]
else
  []]]></ee:set-payload>
        </ee:message>
      </ee:transform>

      <choice doc:name="Update Successful?">
        <when expression="#[sizeOf(payload) > 0]">
          <ee:transform doc:name="Transform Response">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
var card = payload[0]
---
{
  id: card.id,
  cardNumber: card.card_number,
  cardType: card.card_type,
  cardNetwork: card.card_network,
  customerId: card.customer_id,
  accountId: card.account_id,
  cardholderName: card.cardholder_name,
  expirationDate: card.expiration_date,
  status: card.status,
  creditLimit: card.credit_limit,
  availableCredit: card.available_credit,
  controls: {
    dailyPurchaseLimit: card.daily_purchase_limit,
    dailyATMWithdrawalLimit: card.daily_atm_withdrawal_limit,
    internationalTransactionsEnabled: card.international_transactions_enabled,
    onlineTransactionsEnabled: card.online_transactions_enabled
  },
  issuedDate: card.issued_date,
  createdAt: card.created_at,
  updatedAt: card.updated_at
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable variableName="httpStatus" value="200" doc:name="Set Status 200" />
        </when>
        <otherwise>
          <ee:transform doc:name="Error Response">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Card not found",
    timestamp: now()
  }
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable variableName="httpStatus" value="404" doc:name="Set Status 404" />
        </otherwise>
      </choice>

      <error-handler>
        <on-error-propagate type="*" enableNotifications="true" logException="true" doc:name="Error Handler">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "DATABASE_ERROR",
    message: "An error occurred while updating the card",
    timestamp: now()
  }
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable variableName="httpStatus" value="500" doc:name="Set Status 500" />
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

</mule>