src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <!-- Main HTTP Listener with manual routing -->
  <flow name="main">
    <http:listener config-ref="HTTP_Listener_config" path="/api/*" doc:name="HTTP Listener">
      <http:response statusCode="#[vars.httpStatus default 200]" />
      <http:error-response statusCode="#[vars.httpStatus default 500]" />
    </http:listener>
    <choice doc:name="Route Request">
      <when expression="#[attributes.method == 'GET' and attributes.requestPath == '/api/cards']">
        <flow-ref name="get-cards-interface" doc:name="GET /cards" />
      </when>
      <when expression="#[attributes.method == 'POST' and attributes.requestPath == '/api/cards']">
        <flow-ref name="post-cards-interface" doc:name="POST /cards" />
      </when>
      <when expression="#[attributes.method == 'GET' and attributes.requestPath matches '^/api/cards/[^/]+$']">
        <set-variable variableName="cardId" value="#[(attributes.requestPath splitBy '/')[3]]" doc:name="Set Card ID" />
        <flow-ref name="get-card-by-id-business-logic" doc:name="get-card-by-id-business-logic" />
      </when>
      <when expression="#[attributes.method == 'PUT' and attributes.requestPath matches '^/api/cards/[^/]+$']">
        <set-variable variableName="cardId" value="#[(attributes.requestPath splitBy '/')[3]]" doc:name="Set Card ID" />
        <flow-ref name="update-card-business-logic" doc:name="update-card-business-logic" />
      </when>
      <otherwise>
        <ee:transform doc:name="Not Found Response">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Resource not found",
    timestamp: now()
  }
}]]>
            </ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable variableName="httpStatus" value="404" doc:name="Set Status 404" />
      </otherwise>
    </choice>
    <error-handler>
      <on-error-propagate enableNotifications="true" logException="true" doc:name="Generic Error">
        <ee:transform doc:name="Transform Error Response">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "INTERNAL_ERROR",
    message: (error.description default error.message) default "Internal server error",
    timestamp: now()
  }
}]]>
            </ee:set-payload>
          </ee:message>
        </ee:transform>
        <set-variable variableName="httpStatus" value="500" doc:name="Set Status 500" />
      </on-error-propagate>
    </error-handler>
  </flow>

  <!-- GET /cards -->
  <flow name="get-cards-interface">
    <ee:transform doc:name="Build Query Parameters">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
output application/java
---
{
  customerId: attributes.queryParams.customerId default null,
  cardNumber: attributes.queryParams.cardNumber default null,
  status: attributes.queryParams.status default null,
  limit: (attributes.queryParams.limit as Number default 100) as String,
  offset: (attributes.queryParams.offset as Number default 0) as String
}]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
    <flow-ref name="get-cards-business-logic" doc:name="get-cards-business-logic" />
  </flow>

  <!-- POST /cards -->
  <flow name="post-cards-interface">
    <flow-ref name="create-card-business-logic" doc:name="create-card-business-logic" />
  </flow>

  <!-- GET /cards/{cardId} -->
  <flow name="get-card-interface">
    <set-variable value="#[attributes.uriParams.cardId]" variableName="cardId" doc:name="Set Card ID" />
    <flow-ref name="get-card-by-id-business-logic" doc:name="get-card-by-id-business-logic" />
  </flow>

  <!-- PUT /cards/{cardId} -->
  <flow name="put-card-interface">
    <set-variable value="#[attributes.uriParams.cardId]" variableName="cardId" doc:name="Set Card ID" />
    <flow-ref name="update-card-business-logic" doc:name="update-card-business-logic" />
  </flow>

</mule>